@import "tailwindcss";

@theme {
  --color-primary: #df1119;
  --color-black: #28241f;
  --color-dark: #09161d;
  --color-gray: #797979;
  --color-yellow: #ffb71c;
  --color-border: #e7e7e7;
  --color-success: #69bc45;
  --spacing-120: 120px;
}

@layer components {
  .primary-button {
    @apply bg-primary cursor-pointer text-white px-4 py-2 font-medium transition-all duration-300 transform hover:bg-primary/95 hover:shadow-xl active:scale-95 text-sm md:px-10 md:py-4 sm:text-base lg:px-14 lg:py-5;
  }
}

h1 {
  @apply text-[36px] font-extrabold leading-[44px] sm:text-[48px] sm:leading-[56px] lg:text-[82px] lg:leading-[95px];
}

h2 {
  @apply text-2xl font-bold leading-[32px] sm:text-4xl sm:leading-[44px] lg:text-5xl lg:leading-[58px];
}

h3 {
  @apply text-xl font-bold leading-[28px] sm:text-2xl sm:leading-[32px] lg:text-[28px] lg:leading-9;
}

h4 {
  @apply text-lg font-semibold leading-6 sm:text-xl sm:leading-7 lg:text-2xl lg:leading-7;
}

h5 {
  @apply text-base font-medium leading-6 sm:text-lg lg:leading-6;
}

p {
  @apply text-sm leading-[24px] sm:text-base sm:leading-[28px] lg:leading-[30px];
}
